# IDE
.vscode

# Config files
config/*
transcoding/livepeer/config/price_per_broadcaster.json
transcoding/livepeer/config/lporch.cfg

# User specific files
scripts/start_benchmark.bash
scripts/start_livepeer.bash
scripts/start_livepool.bash
scripts/start_titannode_pool.bash
scripts/start_livepeer_node.bash
scripts/start_video_miner_pool.bash

# Secret files
.eth_password.txt
.env
