[Unit]
Description=Reads device data from liquidct and publishes it on port 9530.

[Service]
User=<user e.g. root>
Environment="LIQUIDCTL_EXPORTER_PATH=<PATH TO LIQUIDCTL>"
ExecStart=/usr/local/bin/liquidctl-exporter
Restart=always

[Install]
WantedBy=multi-user.target