[Unit]
Description=Reads system data and published it on port 9100.

[Service]
User=<user e.g. root>
ExecStart=<PATH_TO_NODE_EXPORTER>/node_exporter
Restart=always

[Install]
WantedBy=multi-user.target